NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key_here
NEXT_PUBLIC_AUTH_DOMAIN=your_auth_domain_here
NEXT_PUBLIC_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_STORAGE_BUCKET=your_storage_bucket_here
NEXT_PUBLIC_MESSAGE_SENDER_ID=your_messaging_sender_id_here
NEXT_PUBLIC_APP_ID=your_app_id_here
NEXT_PUBLIC_MEASUREMENT_ID=your_measurement_id_here


# TMDB 
NEXT_PUBLIC_TMDB_API=your_api_key_here
# Groq API

NEXT_PUBLIC_GROQ_API=your_api_key_here